*reset*/
*{

margin:0;
padding:0;
    box-sizing: border-box;
}
/*general*/

body{
background-color:#808000;
    color:white;
    font-family: cursive;
   
}
a{
    color:beige;
}

.container{
    max-width: 900px;
width: 90%;
    margin: 0 auto;

}
/*imagenes primera pagina*/
header{}

.logotipo{
width:  78%;
display:inline-block;
vertical-align: middle;

}
.escudo{
width: 20%;
display:inline-block;
vertical-align:middle;

    
}


.logotipo img{
width:100%;
}
.cabecera{
    margin-top:70px;

}
.cabecera img{
    width:100%;
}


.asunto{
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}
.menu{
    list-style-type: none;
}
.menu li {
    margin-bottom:1em;
    padding:.5em;
    text-align: center;
    background-color:transparent;
 
}
.menu li a {
       text-decoration: none;
    color:blacK;
    }
/*pagina historia*/
h1{
text-align: center;
text-shadow: 2px 2px #b99;
font-size: 3em;
}
.historia img{
width:100%;
    padding-bottom: 1em;
}
.galeria img{
width:39%;
padding: 1em;
    vertical-align: top;
}
p{
text-align: center;
}
/*página de esculturas*/
